header {
    top: 0;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 30px black;
    width: calc(100% + 20px);
    background-color: #1a1a24;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 40px;
    align-items: center;
    color: white;

}

header a {
    color: rgb(7, 7, 7);
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    transition: .15s;
}

header a:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
}

#logo { 
    font-size: 28pt;
    font-weight: bold;
}